.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.App-logo {
  height: 35vmin;
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #135527;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px);
  color: white;
  cursor: pointer;
}

.App-title {
  font-size: calc(55px);
  color: white;
  text-align: center;
  margin-top: calc(30px);
  margin-bottom: calc(10px);
}

.App-subtitle {
  font-size: calc(30px);
  color: white;
  text-align: center;
  margin-top: calc(40px);
  margin-bottom: calc(15px);
}

.App-subsubtitle {
  font-size: calc(18px);
  color: white;
  text-align: left;
  margin-left: calc(20px);
  margin-top: calc(30px);
  margin-bottom: calc(10px);
}

.App-txt {
  font-size: calc(15px);
  color:black;
  text-align: justify;
  margin: calc(50px);
  margin-top: calc(30px);
  margin-bottom: calc(10px);
}

.App-whitetxt {
  font-size: calc(15px);
  color:white;
  text-align: center;
  margin: calc(50px);
  margin-top: calc(30px);
  margin-bottom: calc(10px);
}

.btn {
  position: relative;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 240px;
  letter-spacing: 1.5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
  background-color: #135527;
  color: 'white';
  box-shadow: 0 12px 35px 0 rgba(221, 18, 18, 0.25);
  outline: 0;
  text-transform: none;
  margin-top: calc(25px);
  margin-bottom: calc(15px);
}

.form-item {
  margin-top: calc(18px);
  margin-bottom: calc(7px);
}

.form-input {
  position: relative;
  font-weight: 200;
  font-size: 1rem;
  line-height: 2;
  height: 30px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 240px;
  letter-spacing: 1.5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  align-self: center;
  border: none;
  cursor: pointer;
  box-shadow: 0 12px 35px 0 rgba(221, 18, 18, 0.25);
  outline: 0;
  text-transform: none;
}
